{% extends 'base.html' %}

{% block content %}

<div class="hero">

    <h1>
        Excellence in Education
    </h1>

    <p>
        Empowering students with knowledge,
        creativity, leadership, and innovation
        for a brighter future.
    </p>

    <a href="/admissions/" class="btn btn-light btn-lg mt-3">
        Apply Now
    </a>

</div>

<h2 class="mb-4">
    Latest News
</h2>

<div class="row">

{% for post in latest_news %}

<div class="col-md-4 mb-4">

    <div class="card h-100">

        <img src="{{ post.image.url }}">

        <div class="card-body">

            <h5 class="fw-bold">
                {{ post.title }}
            </h5>

            <p>
                {{ post.content|truncatewords:18 }}
            </p>

            <a href="{% url 'news_detail' post.slug %}"
               class="btn btn-dark">

                Read More

            </a>

        </div>

    </div>

</div>

{% endfor %}

</div>

{% endblock %}