{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between mb-4">

    <h1>
        Assignments
    </h1>

    {% if request.user.groups.all.0.name == 'Teachers' %}

        <a href="{% url 'create_assignment' %}"
           class="btn btn-dark">

            New Assignment

        </a>

    {% endif %}

</div>
<form method="GET" class="mb-4">

    <div class="input-group">

        <input
            type="text"
            name="q"
            class="form-control"
            placeholder="Search assignments..."
        >

        <button class="btn btn-dark">
            Search
        </button>

    </div>

</form>
<div class="row">

{% for assignment in page_obj %}

<div class="col-md-4 mb-4">

    <div class="card h-100">

        <div class="card-body">

            <h4>
                {{ assignment.title }}
            </h4>

            <p>
                {{ assignment.description|truncatewords:20 }}
            </p>

            <p>
                Due:
                {{ assignment.due_date }}
            </p>

            <small>
                Teacher:
                {{ assignment.teacher.user.username }}
            </small>

        </div>

    </div>
    <nav>

<ul class="pagination justify-content-center">

    {% if page_obj.has_previous %}

        <li class="page-item">

            <a class="page-link"
               href="?page=1">

                First

            </a>

        </li>

        <li class="page-item">

            <a class="page-link"
               href="?page={{ page_obj.previous_page_number }}">

                Previous

            </a>

        </li>

    {% endif %}

    <li class="page-item active">

        <span class="page-link">

            {{ page_obj.number }}

        </span>

    </li>

    {% if page_obj.has_next %}

        <li class="page-item">

            <a class="page-link"
               href="?page={{ page_obj.next_page_number }}">

                Next

            </a>

        </li>

        <li class="page-item">

            <a class="page-link"
               href="?page={{ page_obj.paginator.num_pages }}">

                Last

            </a>

        </li>

    {% endif %}

</ul>

</nav>

</div>

{% endfor %}

</div>

{% endblock %}